<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">%d{DEFAULT} | ${hostName} | %-5.5p | %-20.20t | %-32.32c{1.} | %X{bundle.id} - %X{bundle.name} - %X{bundle.version} | %m%n</Property>
		<Property name="LOG_PATH">./logs</Property>
		<Property name="APP_NAME">redbox-trade-online-rest-service</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<RollingFile name="appInfoLog"
			fileName="${LOG_PATH}/${APP_NAME}-info.log"
			filePattern="${LOG_PATH}/${APP_NAME}-info-%d{yyyy-MM-dd_HH}.%i.log.gz">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<!-- <DefaultRolloverStrategy max="20" /> -->
			<DefaultRolloverStrategy max="3">
				<Delete basePath="${LOG_PATH}" maxDepth="1" testMode="true">
					<IfFileName glob="*/${APP_NAME}-*.log.gz" />
					<IfLastModified age="PT5M" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		<RollingFile name="appDebugLog"
			fileName="${LOG_PATH}/${APP_NAME}-debug.log"
			filePattern="${LOG_PATH}/${APP_NAME}-debug-%d{yyyy-MM-dd_HH}.%i.log.gz">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<!-- <DefaultRolloverStrategy max="20" /> -->
			<!--<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/> -->
			<DefaultRolloverStrategy max="3">
				<Delete basePath="${LOG_PATH}" maxDepth="1" testMode="true">
					<IfFileName glob="*/${APP_NAME}-*.log.gz" />
					<IfLastModified age="PT5M" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>
	<Loggers>
		<!-- <Logger name="com.stanbic" additivity="false" level="debug"> -->
		<!-- <AppenderRef ref="appInfoLog" level="info" /> -->
		<!-- <AppenderRef ref="appDebugLog" level="debug" /> -->
		<!-- </Logger> -->
		<Root level="debug" additivity="false">
			<!-- <AppenderRef ref="Console" /> -->
			<AppenderRef ref="appInfoLog" level="info" />
			<AppenderRef ref="appDebugLog" level="debug" />
		</Root>
	</Loggers>
</Configuration>